{% extends "base.html" %}


{% block title %}
<title>Women's Section</title>
        {% endblock  %}
{% block link %}

<style>
    h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color:red;
    text-align:center ;
    font-size: 70px;
    text-shadow:10px;
    }
    body{
        background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(185, 27, 27));
    }
      .collapsible {
        background-color: pink;
        color: black(250, 246, 246);
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 25px;
      }
      .active, .collapsible:hover {
        background-color: rgb(206, 35, 35);
      }
      .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        font-size: 21px;
        background-color: #b5e2f7;
      }  
    </style>
{% endblock %}


{% block content %}
     
<h1>
    <u>Regular Period Problems
    </u>
    </h1>
    <p style="font-size:25px;font-family:fonseca;"><b>Regular periods are a sign that your body is working normally.</b> You should have regular periods unless you are pregnant, breastfeeding, postmenopausal, or have a medical condition that causes your periods to stop. Irregular, painful, or heavy periods may be signs of a serious health problem. Irregular periods also can make it harder to get pregnant. Your doctor can work with you to help get your periods more regular.
    </p>
    <div>
    <button type="button" class="collapsible">Period problem: Menstrual pain (dysmenorrhea)</button>
    <div class="content">
      <p>Pain that you get with your menstrual period is called dysmenorrhea (dis-men-uh-REE-uh). Pain is the most common problem women have with their periods. More than half of women who have periods get some pain around their period.Some women may get just a feeling of heaviness in the abdomen or tugging in the pelvic area. Other women experience severe cramps different from premenstrual syndrome (PMS) pain.
    <br>
    A majority of period pain can be relieved by over-the-counter nonsteroidal anti-inflammatory drugs (NSAIDs) such as naproxen, ibuprofen, or aspirin.3 Starting an over-the-counter NSAID medicine when your period first starts may also lessen heavy menstrual bleeding4 and help control the pain better.
    <br>
    There are two types of dysmenorrhea:
    <br>
    <b>Primary dysmenorrhea</b>. This is the most common type of dysmenorrhea. The pain is usually caused by contractions of the uterus (womb). The uterus contracts during your period to help the uterine lining leave the body. Teens may get dysmenorrhea soon after they get their first period. For most women, primary dysmenorrhea gets less painful as they get older. But some women get severe menstrual pain. Your risk for dysmenorrhea may be higher if you:
    1)Got your first period before age 11<br>
    2)Have longer or heavier periods<br>
    3)Smoke<br>
    4)Have high levels of stress6,7<br>
    <b>Secondary dysmenorrhea</b>. This type of dysmenorrhea is usually caused by another health problem. Pain from secondary dysmenorrhea usually gets worse as you get older. It also lasts longer than normal menstrual cramps. Problems that cause secondary dysmenorrhea include:
    <br>1)Endometriosis--This condition happens when the lining of the uterus grows outside of the uterus where it does not belong. In response to monthly changes in levels of the hormone estrogen, this lining breaks down and bleeds outside of the uterus and can cause swelling and pain.
    <br>2)Uterine fibroids--Fibroids are tumors that grow in or on the wall of the uterus. They are almost always not cancerous. Some women with fibroids experience pelvic pain and vaginal bleeding at times when they do not have their period.
    <br>3)Ovarian cysts--Cysts are fluid-filled sacs on the ovary. Ovarian cysts usually don’t cause any symptoms, but some can cause pain during your period or at ovulation.</p>
    <br>
    <h2>
    When to see your doctor</h2>
    <p>Talk to your doctor or nurse if over-the-counter pain medicine, such as ibuprofen or naproxen, does not help or if the pain interferes with daily activities like work or school. Your doctor or nurse will ask you questions and do some tests, including possibly a physical exam, to rule out any other health problem. Keeping track of your symptoms and periods in a diary or calendar can help your doctor or nurse diagnose any health problems.
    
    <br>See your doctor to rule out other health problems if:
    
    <br>1)You have blood clots in your menstrual flow that are larger than a quarter.
    <br>2)Your pain happens at times other than just before your period or during your period.
    </p>
    </div>
    </div>
    <br>
    <div>
    <button type="button" class="collapsible">Period problem: Irregular periods</button>
    <div class="content">
    Your periods are considered irregular if your menstrual cycle is shorter or longer than average. This means that the time from the first day of your last period up to the start of your next period is less than 24 days or more than 38 days.
    <br>
    Your periods can also be irregular if your cycle length varies by more than 20 days from month to month.10 An example would be your cycle jumping from a normal 25-day cycle to a 46-day cycle the next month and then back to a 25-day cycle the following month.
    <br>
    Irregular periods are normal for teenage girls and perimenopausal women. Teen girls’ periods may be irregular for the first few years before becoming more regular. During the transition to menopause, called perimenopause, menstrual cycles may become more irregular over time.
    <br>
    Causes of irregular periods include:
    <br>
    <b>Eating disorders</b>.Irregular or missed periods can be signs of eating disorders, most often anorexia nervosa. But any eating disorder, including bulimia nervosa and binge eating disorder, can cause irregular periods.
    <br><b>Thyroid problems</b>,such as hyperthyroidism (hy-pur-THY-roi-diz-uhm). Hyperthyroidism, or overactive thyroid, causes your thyroid to make more thyroid hormone than your body needs. Hyperthyroidism can also cause fewer and lighter menstrual periods than normal.
    <br><b>High amounts of prolactin in the blood</b>. This condition is called hyperprolactinemia (hy-pur-pro-LAK-te-nee-me-uh). Prolactin is the hormone that causes breasts to grow during puberty and makes breastmilk after childbirth. It also helps control the menstrual cycle.
    <br><b>Certain medicines</b>, such as those for epilepsy or anxiety
    <br><b>Polycystic ovary syndrome (PCOS)</b>, a condition that usually causes multiple ovarian cysts, hormonal imbalance, and irregular periods. About 1 in 10 women with irregular menstrual cycles has PCOS.1
    <br><b>Primary ovarian insufficiency (POI)</b>. POI happens when your ovaries stop working normally before age 40. It can happen as early as the teenage years. POI is not the same as premature menopause. Unlike women who go through premature menopause, women with POI may still have periods, though they are most often irregular. Women with POI may also still get pregnant.
    <br><b>Pelvic inflammatory disease (PID)</b>. Irregular periods can be a sign of PID, an infection of the reproductive organs. PID is most often caused by a sexually transmitted infection (STI).
    <br><b>Stress</b>. Studies show high levels of chronic (long-term) stress can lead to irregular periods.11
    <br><b>Uncontrolled diabetes</b>. Type 1 and type 2 diabetes can cause irregular periods, but getting your diabetes under control can help your periods become more regular.12
    <br><b>Obesity</b>. The extra fat in the body makes the hormone estrogen. The extra estrogen changes the normal menstrual cycle and can cause missed, irregular, or heavy periods.
    <h2>When to call the doctor</h2>
    <p>
    1)You get irregular periods after having normal cycles.<br>
    2)Your period happens more often than every 24 days or less often than every 38 days.</p>
    </div>
    </div><br>
    <div>
    <div>
    <button type="button" class="collapsible">Period problem: Unusual (abnormal) bleeding</button>
    <div class="content">
    <br>Some research has found that women with myalgic encephalomyelitis/chronic fatigue syndrome (ME/CFS) have a higher risk for heavy bleeding.15 Women with ME/CFS may experience a range of symptoms that can include fatigue (tiredness or exhaustion that does not get better with rest and sleep), muscle and joint pain, and memory problems.
    <br><h2>When to call the doctor</h2>
    <p>
    1)Your period lasts longer than eight days.
    <br>2)You bleed through one or more pads or tampons every one to two hours.
    <br>3)You feel dizzy, lightheaded, weak, or tired, or if you have chest pain or trouble breathing during or after your period. These can be symptoms of anemia. Anemia is a condition that happens when your blood cannot carry enough oxygen to your body because of a lack of iron.
    <br>4)You pass menstrual blood clots larger than the size of quarters. (It is normal to pass clots the size of quarters or smaller.)    
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">Period problem: Heavy bleeding</button>
    <div class="content">
    Unusual or abnormal bleeding is any bleeding that is different from your typical menstrual period or happens when you do not have your period.
    <br>
    Causes of unusual bleeding include:
    <br>
    <b>Hormonal changes</b>. Changing hormone levels during puberty and perimenopause, the transition to menopause, can cause longer, heavier periods. They can also cause irregular cycles.
    <br><b>Endometriosis</b>. This condition happens when the lining of the uterus grows outside of the uterus where it does not belong.
    <br><b>Ovarian cysts</b>. Unusual bleeding may be a sign of an ovarian cyst that has ruptured (burst).
    <br><b>Cancer</b>, such as uterine, cervical, and ovarian cancer. Any vaginal bleeding after menopause can be a sign of a serious health problem, including ovarian, cervical or uterine cancer.
    <br><h2>When to call the doctor</h2>
    <p>
    You should see your doctor if you have unusual bleeding. This may include:
    <br>
    1)Bleeding after sex, more than once
    <br>2)Spotting or bleeding anytime in the menstrual cycle other than during your period
    <br>3)Bleeding during your period that is heavier or lasts longer than normal
    <br>4)Bleeding after menopause</div>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">Period problem: Missing periods (amenorrhea)</button>
    <div class="content">
    The absence of menstrual periods before menopause is called amenorrhea (ay-men-uh-REE-uh). You may have amenorrhea if you:
    <br>
    Haven’t had a period for three months in a row<br>
    Haven’t had your first period by age 15<br>
    Amenorrhea happens in 3% to 4% of women.16
    <br>
    Amenorrhea that is not caused by pregnancy or breastfeeding could mean that your ovaries stopped making normal amounts of the hormone estrogen. Missing this hormone can have serious effects on your health.
    <br>
    Causes of amenorrhea include:
    <br>
    <b>Pregnancy</b>. Your period stops during pregnancy because your ovaries no longer release eggs. You may get some spotting (light vaginal bleeding), but this is common and usually does not mean a problem with the pregnancy. If you have spotting during pregnancy you should see your doctor or nurse to be sure. Learn more in our Pregnancy section.
    <br><b>Breastfeeding</b>. For some women, their periods do not come back until after breastfeeding ends. For others, their periods may return within a few months of giving birth. While your baby transitions from breastfeeding to other foods you may ovulate and not realize it. All women should talk to their doctor or nurse about birth control methods during breastfeeding if they do not want to get pregnant again right away. Learn more in our Breastfeeding section.
    <br><b>Eating disorders</b>, especially anorexia nervosa. Amenorrhea can happen if your body fat drops so low that ovulation stops. Anorexia often causes extreme weight loss leading to a very low body weight that is not healthy. This can cause periods to be less regular or stop completely.
    <br><b>Weight</b>. Gaining too much weight or losing too much weight can cause missed periods. Menstrual periods will usually restart after losing weight if you are overweight or gaining weight if you are underweight.
    <br><b>Stress</b>. Long-term, severe stress can affect the part of your brain that controls reproduction. As a result, ovulation and your period can stop. Managing the stress can help restore normal menstrual cycles.11
    <br><b>Hormonal problems</b>. This includes problems with the reproductive organs or those caused by health conditions such as polycystic ovary syndrome (PCOS).
    <br><b>Other serious health problems</b>, including birth defects and tumors in the brain. Once these problems are treated, your period may start for the first time or you may get your period again if it had stopped.
    <br><h2>When to call the doctor</h2>
    <p>
    1)You have gone three months without a period and are not pregnant or breastfeeding.
    <br>2)You have not gotten your period by age 15.
    <br>3)You have not started your period within three years after breast growth began, or if breasts haven’t started to grow by age 13.
    </P>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">Period problem: Menstrual migraine</button>
    <div class="content">
    <p>
    About four in 10 women will get a migraine (a painful, severe headache) in their lifetime. About half of those women report that their migraine happens around their periods.17
    <br>
    Researchers are not sure what causes migraine. Many factors can trigger migraine, including stress, anxiety, and bright or flashing lights. Also, hormones that control the menstrual cycle may affect headache-related chemicals in the brain.
    </p>
    <br><h2>When to call the doctor</h2>
    <p>
    See your doctor if you think you have migraine headaches. If you already know you have migraine, you should schedule an appointment if:
    <br>
    1)Your headaches change.
    <br>2)Treatments that once worked no longer help.
    <br>3)You have side effects from your medicine.
    <br>4)You take hormonal birth control pills and have migraine with aura (seeing bright flashing lights or spots that aren’t real).
    <br>5)Your headaches are worse when you lie down.</P>
    </div>
    </div>
    <br>
    <br>
    <h1>
    <u>Premenstrual Dysphoric Disorder(PMDD)
    </u>
    </h1>
    <p style="font-size:25px;font-family:fonseca;"><b>Premenstrual dysphoric disorder (PMDD)</b> is a health problem that is similar to premenstrual syndrome (PMS) but is more serious. PMDD causes severe irritability, depression, or anxiety in the week or two before your period starts. Symptoms usually go away two to three days after your period starts. You may need medicine or other treatment to help with your symptoms.</p>
    <div>
    <div>
    <button type="button" class="collapsible">What is PMDD?</button>
    <div class="content">
    <p>PMDD is a condition similar to PMS that also happens in the week or two before your period starts as hormone levels begin to fall after ovulation. PMDD causes more severe symptoms than PMS, including severe depression, irritability, and tension.
    </P>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">Who gets PMDD?</button>
    <div class="content">
    <p>PMDD affects up to 5% of women of childbearing age. Many women with PMDD may also have anxiety or depression.</P>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">What are the symptoms of PMDD?</button>
    <div class="content">
    <p>Symptoms of PMDD include:
    <br>
    <br>1)Lasting irritability or anger that may affect other people
    <br>2)Feelings of sadness or despair, or even thoughts of suicide
    <br>3)Feelings of tension or anxiety
    <br>4)Panic attacks
    <br>5)Mood swings or crying often
    <br>6)Lack of interest in daily activities and relationships
    <br>7)Trouble thinking or focusing
    <br>8)Tiredness or low energy
    <br>9)Food cravings or binge eating
    <br>10)Trouble sleeping
    <br>11)Feeling out of control
    <br>12)Physical symptoms, such as cramps, bloating, breast tenderness, headaches, and joint or muscle pain
    </P>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">What causes PMDD?</button>
    <div class="content">
    <p>Researchers do not know for sure what causes PMDD or PMS. Hormonal changes throughout the menstrual cycle may play a role. A brain chemical called serotonin may also play a role in PMDD. Serotonin levels change throughout the menstrual cycle. Some women may be more sensitive to these changes.</P>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">How is PMDD diagnosed?</button>
    <div class="content">
    <p>Your doctor will talk to you about your health history and do a physical examination. You will need to keep a calendar or diary of your symptoms to help your doctor diagnose PMDD.
    <br>
    You must have five or more PMDD symptoms, including one mood-related symptom, to be diagnosed with PMDD.</p>
    </div>
    </div>
    <br>
    <div>
    <div>
    <button type="button" class="collapsible">How is PMDD treated?</button>
    <div class="content">
    <p>Treatments for PMDD include:
    <br>
    <br>1)Antidepressants called selective serotonin reuptake inhibitors (SSRIs). SSRIs change serotonin levels in the brain. The Food and Drug Administration (FDA) approved three SSRIs to treat PMDD:4
    <b><br>->Sertraline
    <br>->Fluoxetine
    <br>->Paroxetine HCI</b>
    <br>2)Birth control pills. The FDA has approved a birth control pill containing drospirenone (droh-SPIR-uh-nohn) and ethinyl estradiol (ETH-uh-nil es-truh-DEYE-ohl), to treat PMDD.
    <br>3)Over-the-counter pain relievers may help relieve physical symptoms, such as cramps, joint pain, headaches, backaches, and breast tenderness. These include:
    <b><br>->Ibuprofen
    <br>->Naproxen
    <br>->Aspirin</b>
    <br>4)Stress management, such as relaxation techniques and spending time on activities you enjoy<br>
    Making healthy changes, such as eating a healthy combination of foods across the food groups, cutting back on salty and sugary foods, and getting more physical activity, may also help relieve some PMDD symptoms. But PMDD can be serious enough that some women should go to a doctor or nurse to discuss treatment options. And, if you are thinking of hurting yourself or others, call 911 right away.</p>
    </div>
    </div>
    
    
    </body>
    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
    
    </script>   
{% endblock  %}


<!-- Khushi Pathak -->
